<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    		<%= bootstrap_form_for(:artwork_ids, :url => generate_pdf_path) do |form| %>
				<%#=		<%= form.text_field :id %>%>
						


			<% @artworks.each do |artwork| %>
				</br>
				<div class="card">
					<h5 class="card-header">
						<%= artwork.title %> (<%= artwork.year %>) 				
						<%#= form.check_box ":id[]", artwork.id %>
					</h5>
					<% if !artwork.image.file.nil? %>
						<div class="card-image">
								<%= image_tag artwork.image.thumb.url %>
						</div>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= artwork.collection %></h5>
						<p class="card-text"><%= artwork.medium %></p>
						<p class="card-text"><%= artwork.height %> x <%= artwork.width %> cm</p>
						<p class="card-text"><%= artwork.price %> GBP</p>
					</div>
					<%= link_to 'Edit', 
						edit_artwork_path(artwork), 
							method: :get %>
					<%= link_to 'Delete', 
						artwork_path(artwork), 
							method: :delete, 
							data: { confirm: 'Are you sure?' } %> 
				</div>
			<% end %>
			<%= form.submit "Submit" %>
	<%end%>


		<%= button_to "go", generate_pdf_path %>
    <%= link_to 'Generate PDF', generate_pdf_path, method: :POST %>
 		<%= submit_tag "Submit" %>
  </body>
</html>
