<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Artwork</title>
  </head>
  <body>
    <h1> Update Artwork: </h1>
    <%= bootstrap_form_for(@artwork), method: "put" do |form| %>
      <%= form.text_field :title %>
      <%= form.number_field :price %>
      <%= form.check_box :sold %>
      <%= form.submit "Update Artwork" %>
    <% end %>
  </body>
</html>
