<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Artventory</title>
	</head>
	<body>
    <h2> Press <%= link_to 'here', search_artworks_path %> to search for artowkrs. </h2>
	  <p>Database entries go here:</h1>
	  <% @artworks.each do |artwork| %>
	    </br>
	    <div >
	        <%= artwork.title %>
	    </div>
	    <div >
	      <%= artwork.price %>
	    </div>
      <%= link_to artworks_edit_path(artwork) do %>
  			<h2>Update Artwork</h2>
  		<% end %>
			<%= link_to artworks_delete_path(artwork) do %>
				<h2>Delete Artwork</h2>
			<% end %>
	  <% end %>
	</body>
</html>
