<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Artventory Hompage</title>
	</head>
	<body>
		<h3>User UID: <%= current_user.uid %></h3>
		<% if current_user.avatar.thumb.url %>
			<div class="profile-pic-img">
				<%= image_tag current_user.avatar.thumb.url %>
			</div>
		<% end %>
		<% if current_user.avatar.profile.url %>
			<div class="profile-pic-img">
				<%= image_tag current_user.avatar.profile.url %>
			</div>
		<% end %>
		<% if current_user.avatar.card.url %>
			<div class="profile-pic-img">
				<%= image_tag current_user.avatar.card.url %>
			</div>
		<% end %>
		<% if current_user.avatar.full.url %>
			<div class="profile-pic-img">
				<%= image_tag current_user.avatar.full.url %>
			</div>
		<% end %>
	</body>
</html>