<!DOCTYPE html>
<html>
  <head>
    <title>Artventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <% if user_signed_in? %>
          <div class="menu-display title">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
              <i class="fas fa-times fa-2x close-icon-style"></i>
            </button>
          </div>
          <div class="menu-display title">
            <button type="button" id="hamburgerMenu" class="navbar-btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        <% end %> 
        <a class="brand-logo title" href="/">Artventory V0.0.0.0.1.00</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">        
          <li class="">
            <a class="" href="/">Home</a>
          </li>
          <li class="">
            <a class="" href="/artworks/new">New Artwork</a>
          </li>
          <li class="">
            <a class="" href="/pdf/new">Generate PDF</a>
          </li>
        </ul>
        <div class="nav-item">
          <% if user_signed_in? && current_user.username %>
            <div class="user-nav" id="username">
              <p class="nav-link"><%= current_user.username %></p>
            </div>        
          <% end %>
          <% if user_signed_in? %>
            <div class="nav-link btn btn-outline-secondary user-nav">
              <%= link_to('Sign Out', destroy_user_session_path, { :id => "signout-link", method: :delete}) %>
            </div>        
          <% end %>
        </div>
      </div>
    </nav>
    <% if user_signed_in? %>
      <div class="wrapper">
        <nav id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <%# <h3 class="">MENU</h3> %>
          </div>
          <!-- Sidebar Links -->
          <ul class="list-unstyled components">
            <li class="active">
              <%= link_to 'Profile', artworks_path, action: :index, class: "list-group-item list-group-item-action main-list-item" %>
            </li>
            <li>
              <%= link_to 'Artworks', artworks_path, action: :index, class: "list-group-item list-group-item-action main-list-item" %>
            </li>
            <li>
              <%= link_to 'Settings', artworks_path, action: :index, class: "list-group-item list-group-item-action main-list-item" %>
            </li>
          </ul>
        </nav>
      </div>
    <% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
